@using LTCSDL_pro.Models;
@model List<Sach>

@{
    ViewBag.Title = "SachChuDe";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Sách theo chủ đề </h2>

@{
    foreach (var item in Model)
    {
        
    <div style="width:100%; " class="templatemo_product_box">

        <div>Tên Tác Phẩm: @item.TenSach</div>
        <img src="~/Asset/img/@item.AnhBia" style="height:120px; width:100px" alt="image" />
        <div class="product_info">
            <h3>@item.GiaBan vnđ</h3>
            <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
            <div class="detail_button"><a href="/Home/ChiTietSach?MaSach=@item.MaSach">Chi Tiết</a></div>
            <div class=" them_button"><a href="#">thêm vào giỏ hàng</a></div>

        </div>
        <div class="mota">
            <h2>
                @item.MoTa

            </h2>
        </div>

        <div class="cleaner">&nbsp;</div>
    </div>
    <div class="cleaner_with_height">&nbsp;</div>
}
}

